doctype html
html
    head
        title=title
        link(rel="shortcut icon" href="https://api.adorable.io/avatars/16/abott@adorable.png")
        link(href='/styles/style.css' rel='stylesheet')
    body
        ul(class='navbar')
            each item in config.menu
                if item[0] == "Login" && !isAuth
                    a(href=item[1])
                        div(class='menu_item')
                            li(id=item[0]) #{item[0]}
                else if item[0] == "Login" && isAuth
                    a(href="/logout")
                        div(class='menu_item')
                            li(id='Logout') Logout
                else if item[0] == "Register" && isAuth
                    a
                else if item[0] == "User Control List" && level == "admin"
                    a(href=item[1])
                        div(class='menu_item')
                            li(id=item[0]) #{item[0]}
                else if item[0] == "User Control List" && level != "admin"
                    a
                else if item[0] == "Profile" && !isAuth
                    a
                else if item[0] == "Post Message" && !isAuth
                    a
                else
                    a(href=item[1])
                        div(class='menu_item')
                            li(id=item[0]) #{item[0]}
        block content
    footer
        hr
        p Copyright &#169;#{new Date().getFullYear()} - Dylan Shoupe, Bob Cortez, Jennifer Monsalve